<div style="text-align: center">
  <h4 nz-typography>This application is developed by Maifee Ul Asad.</h4>
  <h4 nz-typography>
    I don't claim/have any authority regarding any news shown here.
  </h4>
  <h4 nz-typography>
    It uses Reddit API. Explicitly shows post(s) from r/news
  </h4>
</div>

<div *ngFor="let item of newsElements; let i = index">
  <div nz-row *ngIf="i % 3 === 0" style="justify-content: center; align-items: center;">
    {{ console.debug(i) }}
    <div nz-col nzSpan="8" *ngIf="i + 0 < newsElements.length">
      <app-news-element [newsElement]="newsElements[i]"></app-news-element>
    </div>
    <div nz-col nzSpan="8" *ngIf="i + 1 < newsElements.length">
      <app-news-element [newsElement]="newsElements[i + 1]"></app-news-element>
    </div>
    <div nz-col nzSpan="8" *ngIf="i + 2 < newsElements.length">
      <app-news-element [newsElement]="newsElements[i + 2]"></app-news-element>
    </div>
  </div>
</div>
